.navBar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    padding: 0 20px;
    height: 46px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-family: 'Segoe UI', sans-serif;
    color: rgb(43 43 43);
    font-size: 14px;
    line-height: 20px;
}

.navBarItem {
    display: flex;
    flex-direction: row;
}

.navBarWeatherItem {
    display: grid;
    flex-grow: 1;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    grid-template-rows: auto;
    grid-auto-rows: 0;
    border: 1px solid red;
    overflow: hidden;
}

.navBarLinkItem {
    padding: 10px 16px;
}

.navBarLinkItemText {
    text-decoration: none;
}

.navBarLinkItemText:hover {
    border-bottom: 2px solid #e5e5e5;
}
