.main {
    flex-direction: column;
    justify-content: space-between;
    padding: 6rem;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 310px auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 12px;
    background: linear-gradient(rgb(36, 77, 114) 0%, rgb(7, 33, 59) 100%);
}
